*{
    margin:0;
    padding:0;
text-decoration: none;
}
.header{
    background-color: #CBDCF7;
}
nav ul li{
    display: inline-block;
    padding:3px;
    text-align: center; 
    margin:5px;
    border:1px solid #000
   
}
nav ul li:hover{
    background-color: #f4a3be;
}
nav ul li a{
    text-decoration: none;
    color:rgb(8, 93, 252)
   
    
}
h1{
    PADDING:5px;
    text-align: center;
}
.active{
    background-color: #f4a3be;
}


